@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders";
    string[] months = new string[] {
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"};
}

<h3 class="ms-3">Orders</h3>

<div class="mt-4 mb-2">
    @foreach (var order in Model)
    {
        <div class="bg-white p-3 pb-1 mb-2 shadow">
            <div class="d-flex justify-content-between align-content-center">
                <div>
                    <h5>Order No: @($"#{order.OrderNumber}")</h5>
                    <p>Placed: @($"{order.PlacedDate.DayOfWeek.ToString()}, {order.PlacedDate.Day} {months[order.PlacedDate.Month]}")</p>
                </div>
                <form>
                    <a class="btn px-2 py-1 my-auto" style="background-color:#f3f3f3; border: 1px solid grey;">Order Details</a>
                </form>
            </div>
            <hr />
            <div class="d-flex my-2">
                @{
                    //int ii = Model.Count() < 5 ? Model.Count() : 5;
                }
                @for (int i = 0; i < order.Products.Count(); i++)
                {
                    if (i != 5)
                    {
                        <a class="me-2" style="position:relative; border: 1px solid grey;width:100px;height:100px;">
                            <img src="~/images/dundermifflin.png" style="width:100%;height:100%;" />
                        </a>

                    }
                    else
                    {
                        <a class="me-2" href="#" style="position:relative;border: 1px solid grey;width:100px;height:100px;">
                            <img src="~/images/dundermifflin.png" style="width:100%;height:100%;" />
                            <i class="fa-solid fa-plus" style="position:absolute; top:50%; right:50%"></i>
                        </a>
                    }
                }
            </div>
        </div>
    }
</div>

