@model int

<a class="nav-link btn px-2 d-flex align-content-center justify-content-center"
   style="height:80%;border-radius:20px;background-color:green;color:white;flex-wrap:wrap;"
   asp-controller="Cart" asp-action="Index">
    <i class="fa-solid fa-cart-shopping me-2 d-flex align-content-center" style="flex-wrap:wrap;"></i> @Model
</a>