@model ProdTypeListViewModel

<div class="btn-group mb-3 d-flex justify-content-center">
    <a asp-action="List" asp-route-id="all"
       class="btn mx-1 btn btn-outline-primary @($"{Model.CheckActiveCategory("all")}")">
        All
    </a>
    @foreach (ProductType pt in Model.ProductTypes)
    {
        <a asp-action="List" asp-route-id="@pt.ProductTypeName.ToLower()"
           class="btn mx-1 btn-outline-primary @($"{Model.CheckActiveCategory(pt.ProductTypeName)}")">
            @pt.ProductTypeName.Replace("and", "&")
        </a>
    }
</div>